* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('table.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

h1 {
    color: goldenrod;
}

button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    border: none;
    border-radius: 8px;
    padding: .5em 0;
    cursor: pointer;
    font-weight: 700;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

#message-el {
    font-style: italic;
}

#next-card-btn{
    display: none;
}

@media (min-width: 768px){
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2rem;
    }
    button {
        width: 350px;
        height: 100px;
        font-size: 2rem;
    }
}

