* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('table.png');
    display: flex;
    justify-content: center;
}

main {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

h1 {
    color: goldenrod;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

#message-el {
    font-style: italic;
}

